**Task 1**

qstn 2

In [0]:

for i in range(1999,3201):
  if (i%7==0) and (i%5!=0):
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

qstn 3

In [0]:
first_name=input("enter first name :")
last_name=input("enter last name :")
first=first_name[::-1]
last=last_name[::-1]
d=' '
print('{last_name}{space}{first_name}'.format(last_name=last,space=d,first_name=first))

enter first name :Heera
enter last name :Mahesh
hsehaM areeH

qstn 4

In [0]:
d=12
r=d/3
vol=4/3*3.14*(r**3)
print(f'volume of cube {vol}')

volume of cube 267.94666666666666

Task 2

qstn 1

In [0]:
li=[]
limit=int(input('enter the no of values to be entered'))


for i in range(limit):
  li.append(input())
print('--The values in the list are--')
for x in range(len(li)):
  print(li[x])

enter the no of values to be entered5
10
20
30
40
50
--The values in the list are--
10
20
30
40
50

qstn 2

In [0]:
for i in range(0,6):
  for x in range(int(i)):
    print('*',end=' ')
  print(end='\n')
for i in range(4,0,-1):
  for x in range(int(i),0,-1):
    print('*',end=' ')
  print(end='\n')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

qstn 3

In [0]:
word=input("input word:")
reverse_wrd=word[::-1]
print(reverse_wrd)

input word:Bharath
htarahB

qstn 4

In [11]:
string="WE,THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST,SECULAR,DEMOCATIC REPUBLIC and to secure to all its citizens "
print(string.replace('SOCIALIST','! SOCIALIST'))

WE,THE PEOPLE OF INDIA,having solemnly resolved to constitute India into a SOVEREIGN,! SOCIALIST,SECULAR,DEMOCATIC REPUBLIC and to secure to all its citizens