In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',  
'Budapest_PaRis', 'Brussels_londOn'],  
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],  
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],  
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',  
'12. Air France', '"Swiss Air"']}) 
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

qstn 1

In [3]:
df.loc[1,'FlightNumber']=10055
df.loc[3,'FlightNumber']=10075

#converting Flight no col to int
df['FlightNumber']=df['FlightNumber'].astype(int)
#pd.to_numeric(df['FlightNumber'],downcast='integer')
print("Data type of FlightNumber")
print(df['FlightNumber'].dtypes)
print(df)

Data type of FlightNumber
int64
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

Qstn 2

In [18]:
n=len(df['From_To'])
location=pd.DataFrame(columns=['From','To'])
new=df['From_To'].str.split('_')
for i in range(0,n):
  location=location.append({'From':new[i][0],'To':new[i][1]},ignore_index='True')
print(location) #new data frame with "from to" values..

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

Qstn 3

In [23]:
location['From']=location['From'].apply(lambda x:x.capitalize())
location['To']=location['To'].apply(lambda x:x.capitalize())

print(location)

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

Qstn 4

In [32]:
df=df.drop('From_To',axis=1) # dropping from_To Column

df.insert(0,'To',location['To'].values)
df.insert(0,'From',location['From'].values) # inserting values from temp data frame to the df dataframe
print(df)

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris         10045      [23, 47]               KLM(!)
1    Madrid      Milan         10055            []    <Air France> (12)
2    London  Stockholm         10065  [24, 43, 87]  (British Airways. )
3  Budapest      Paris         10075          [13]       12. Air France
4  Brussels     London         10085      [67, 32]          "Swiss Air"

Qstn 5

In [36]:
delays=pd.DataFrame(df['RecentDelays'].values.tolist())

delays.columns=['delay_1','delay_2','delay_3']
print(delays)

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

In [0]:
df.drop(columns=['RecentDelays'],inplace=True)  #dropping of the recent delay column

In [39]:
df3=pd.concat([df,delays],axis=1)
print(df3)

       From         To  FlightNumber  ... delay_1  delay_2  delay_3
0    London      Paris         10045  ...    23.0     47.0      NaN
1    Madrid      Milan         10055  ...     NaN      NaN      NaN
2    London  Stockholm         10065  ...    24.0     43.0     87.0
3  Budapest      Paris         10075  ...    13.0      NaN      NaN
4  Brussels     London         10085  ...    67.0     32.0      NaN

[5 rows x 7 columns]